<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <h1>Nosotros</h1>

    <h2>quienes somos </h2>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et recusandae quae. 
        Consectetur quo voluptatem, accusamus corporis cum vitae eaque perferendis! Repellat similique nisi 
        reprehenderit ab eius minus? Fuga, dignissimos.S</div>


      

     <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nulla nemo magni aspernatur eius corrupti distinctio iste repudiandae veritatis iusto maxime. 
        Quo quis corporis, explicabo fugit provident placeat qui dolorum voluptas.</div>

    <div></div>
</body>
</html>